.gradient-image3 {
    position: absolute;
    width: 1827.23px;
    height: 1132.83px;
    left: -35px;
    top: 2238.75px;
  }
  
  .noise-image3 {
    position: absolute;
    width: 1728px;
    height: 1254px;
    left: 0px;
    top: 2185px;
    background: url(../../images/3-noise.png) #D9D9D9;
    mix-blend-mode: overlay;
    opacity: 1;
  }
  