.tagline3 {
    position: absolute;
    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 800;
    font-size: 176px;
    line-height: 202px;
    color: #FFFFFF;
    mix-blend-mode: soft-light;
    opacity: 1;
  }
  