.landing-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-page__background {
  width: 1728px;
  height: 7707px;
  background-color: #141313;
}

.gradient-image4 {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 2079.42px;
  top: 3442px;
}

.noise-image4 {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 1728px;
  top: 3468px;
  background: #D9D9D9;
  mix-blend-mode: overlay;
  opacity: 0.5;
}

.gradient-image5 {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 2213.66px;
  top: 4841px;
}

.plans-image5 {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 1159px;
  left: 373px;
  top: 5121px;
  transform: scale(0.85);
}

.noise-image5 {
  position: absolute;
  width: 100%;
  height: 1167px;
  max-width: 1728px;
  top: 4868px;
  background: #D9D9D9;
  mix-blend-mode: overlay;
  opacity: 0.5;
}
