.features-pic2 {
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 650px;
    left: 79px;
    top: 1105px;
    transform: scale(0.9);
}

.features-text2 {
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 491px;
    left: 138px;
    top: 1239px;
    mix-blend-mode: normal;
    transform: scale(0.9);
}