.features-pic2 {
    position: absolute;
    width: 650px;
    height: 1138px;
    left: 144px;
    top: 1105px;
}

.features-text2 {
    position: absolute;
    width: 491px;
    height: 41px;
    left: 200px;
    top: 1193px;
    mix-blend-mode: normal;
}