.neural-networks {
    position: absolute;
    width: 1198px;
    height: 1336px;
    left: 555px;
    top: 6180px;

}

.neural-networks-text {
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 88px;
    text-align: right;
    color: #FFFFFF;
}

.gradient6 {
    position: absolute;
    width: 2690.78px;
    height: 2672.6px;
    left: -521.39px;
    top: 5670.5px;
}

.noise6 {
    position: absolute;
    width: 1728px;
    height: 1749px;
    left: 0px;
    top: 5958px;
    background: url(../../images/6-noise.png), #D9D9D9;
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.powered-by {
    position: absolute;
    width: 315px;
    height: 51px;
    left: 707px;
    top: 7638px;
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28.43px;
    line-height: 38px;
    color: #FFFFFF;
  }
  
  .powered-by a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .powered-by a:hover {
    text-decoration: underline;
  }

  .welcome-container {
  position: absolute;
  width: 1291px;
  height: 207px;
  left: 39px;
  top: 6582px;
}

.welcome-text {
  font-family: 'Akira Expanded';
  font-style: normal;
  font-weight: 800;
  font-size: 176px;
  line-height: 202px;
  color: #FFFFFF;
  mix-blend-mode: normal;
}
