.bg-gradient-1 {
    position: absolute;
    width: 1728px;
    height: 1117px;
    left: 0px;
    top: 0px;
}

.hero-1 {
    position: absolute;
    width: 904px;
    height: 1097px;
    left: 741px;
    top: 0px;
}