.bg-gradient-1 {
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 1728px;
    left: 0px;
    top: 0px;
}

.hero-1 {
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 904px;
    left: 607px;
    top: 0px;
}