.transition-image3-4 {
    position: absolute;
    width: 100%;
    height: 1167px;
    max-width: 2138.87px;
    left: 0px;
    top: 3074px;
    filter: blur(100px);
}

.transition-noise3-4 {
    position: absolute;
    width: 100%;
    height: 2520px;
    max-width: 1728px;
    left: 0px;
    top: 2885px;
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.limits-text3-4{
    position: absolute;
    width: 100%;
    height: 2520px;
    max-width: 350px;
    left: 1113px;
    top: 3132px;

    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50.52px;
    line-height: 52px;

    color: #FFFFFF;
}

.chatting-text3-4{
    position: absolute;
    width: 955px;
    height: 344px;
    left: 121px;
    top: 3395px;

    /* H2 */

    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50.52px;
    line-height: 115%;
    /* or 58px */


    color: #FFFFFF;
}