.price-window-bg-1 {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 285px;
  left: 47px;
  top: 5378px;
  mix-blend-mode: color-dodge;
  opacity: 0.5;
  box-shadow: inset 13px 13px 55px #C5B420;
  border-radius: 52px;
  transform: scale(0.85);
}

.price-window-bg-2 {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 302px;
  left: 47px;
  top: 5376px;
  mix-blend-mode: color-dodge;
  opacity: 0.5;
  box-shadow: inset 13px 13px 55px #C5B420;
  border-radius: 52px;
  transform: scale(0.85);
}

.free-trial-text {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 223.5px;
  left: 79px;
  top: 5433px;
  transform: scale(0.85);
}